<p>
  <mat-toolbar>
    <button class="decorator"type="button" mat-raised-button color="primary" (click)="sideNave()" *ngIf="isLoginPath">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="decoratorLogo">
      <img class="logo" src="./assets/img/LOGO-7WAY-OPS.png">
    </span>
    <span class="decorator">
      <img class="logo" src="/assets/img/logo-bancolombia.png">
    </span>
    <button class="decorator" mat-raised-button color="primary" *ngIf="isLoginPath">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</p>
