.mat-raised-button {
  width: 100%;
  margin-top: 5px;
  white-space: initial;
  font-size: 12px;
  overflow: scroll;
}

.mat-expansion-panel-header{
  padding: 0 14px;
  font-size: 12px;
}

@media (min-width: 768px) {

  .mat-expansion-panel-header{
    padding: 0 14px;
    font-size: 14px;
  }

  .mat-raised-button {
    overflow: visible;
  }
}



