<div class="content-wrapper">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>


    <!--filter-->
    <div class="card">
      <h5 class="card-header">Filtrar</h5>
      <div class="card-body">
    <div class="users-list-filter">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label>Nombre</label>

          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label>Fecha</label>

          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label>Nombre</label>

          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    <!--End filter-->
    <div  class="row match-height">
      <div class="col-lg-3 col-sm-6 col-12" *ngFor="let movie of movies">
        <div class="card">
          <div class="card-header d-flex flex-column align-items-center pb-0">
              <div class="avatar-content">
                <img [src]="movie.images.poster_art.url" style="height: 200px; height: 200px">
              </div>
            <p class="mb-0 pt-1 text-center font-weight-bold">{{movie.title}}</p>
            <hr>
            <p class="mb-0 pt-1 text-center">{{movie.description}}</p>
            <hr>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
