<div class="content-wrapper">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>


    <!--filter-->
    <div class="card">
      <h5 class="card-header">Filtrar</h5>
      <div class="card-body">
    <div class="users-list-filter">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label>Nombre</label>
            <input class="form-control"  placeholder="nombre" [(ngModel)]="name" >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label>Fecha</label>
            <div class="input-group">
              <input class="form-control" [startDate]="fromDate" placeholder="yyyy-mm-dd"
                     [(ngModel)]="startDatePicker" ngbDatepicker #startDPdata="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary feather icon-calendar" (click)="startDPdata.toggle()"
                        type="button" rippleEffect></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary ml-1" (click)="filter()">
        <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i><span
        class="d-none d-sm-inline-block">Aplicar filtro</span>
      </button>
      <button type="button" class="btn btn-outline-primary ml-1" rippleEffect
              (click)="getMovie()">
        <span [data-feather]="'clipboard'" [class]="'mr-25'"></span>Limpiar
      </button>
    </div>
      </div>
    </div>
    <!--End filter-->
    <div  class="row match-height">
      <div class="col-lg-3 col-sm-6 col-12" *ngFor="let movie of movies">
        <div class="card">
          <div class="card-header d-flex flex-column align-items-center pb-0">
              <div class="avatar-content">
                <img [src]="movie.images.poster_art.url" style="height: 200px; height: 200px">
              </div>
            <p class="mb-0 pt-1 text-center font-weight-bold">{{movie.title}}</p>
            <hr>
            <p class="mb-0 pt-1 text-center">{{movie.description}}</p>
            <hr>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
