.marginButtons {
  margin-top: 5px;
}

.example-card {
  max-width: 100%;
}

 .mat-card-header{
  flex-flow: column wrap;
   align-items: center;
 }

.mat-card-avatar{
  width: 80px;
  height: 80px;
}

.avatar{
  background-size: cover;
}

