$wayops-container: #efefef;
$wayops-container-fade: #dddbdb;
$wayops-container-darker: #cacaca;
$wayops-flag-stroke: #222222;

$wayops-primary: #00B8DB;
$wayops-secondary: #008CA8;
$wayops-dark: #004C5C;
$wayops-light: #44C7E1;