<div id="map" class="milkyway-map"> </div>
<div class="milkyway-map__menu">
  <div class="milkyway-map__menu_item">
    <input id="dark-v10" type="radio" name="rtoggle" value="dark" checked="checked"
      (click)="switchMapStyle('dark-v10')">
    <label for="dark-v10">Dark</label>
  </div>
  <div class="milkyway-map__menu_item">
    <input id="satellite-v9" type="radio" name="rtoggle" value="satellite" (click)="switchMapStyle('satellite-v9')">
    <label for="satellite-v9">Satellite</label>
  </div>
  <div class="milkyway-map__menu_item">
    <input id="light-v10" type="radio" name="rtoggle" value="light" (click)="switchMapStyle('light-v10')">
    <label for="light-v10">Light</label>
  </div>
  <div class="milkyway-map__menu_item">
    <input id="streets-v11" type="radio" name="rtoggle" value="streets" (click)="switchMapStyle('streets-v11')">
    <label for="streets-v11">Streets</label>
  </div>
  <div class="milkyway-map__menu_item">
    <input id="outdoors-v11" type="radio" name="rtoggle" value="outdoors" (click)="switchMapStyle('outdoors-v11')">
    <label for="outdoors-v11">Outdoors</label>
  </div>
</div>
