<div *ngIf="validsessionForm" class="grid-container fm-grid-container">
    <form ngNativeValidate autocomplete="off" (ngSubmit)="login()" [formGroup]="sessionForm" class="form fm-items-grid-container" id="login-form">
        <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="username" name="username" type="username" placeholder="Usuario">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" name="password" type="password" placeholder="Contraseña">
        </mat-form-field>
        <section>
            <mat-checkbox formControlName="remind" color="primary">Recordarme</mat-checkbox>
            </section>
            <br>
        <button mat-raised-button color="primary" type="submit">Ingresar</button>
        <span><a href="#">¿Olvidaste la contraseña??</a></span>

    </form>
</div>
<div *ngIf="!validsessionForm" class="grid-container fm-grid-container">
    <form ngNativeValidate autocomplete="off" (ngSubmit)="validA2F()" [formGroup]="codeForm" class="form fm-items-grid-container" id="login-form">
        <mat-form-field appearance="outline">
            <mat-label>Codigo</mat-label>
            <input matInput formControlName="codigo" name="codigo" type="password" placeholder="Codigo">
            <!-- <mat-error *ngIf="!codeForm.controls.code.invalid">Codigo invalido</mat-error> -->
        </mat-form-field>
        <span *ngIf="validCode2FA" color="warn">Codigo invalido</span>
        <br>
    <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
</div>